<web-app>

    <servlet>
        <servlet-name>Add Controller</servlet-name>
        <servlet-class>hibernate.todolist.AddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add Controller</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

</web-app>
