<web-app>

    <servlet>
        <servlet-name>Add Controller</servlet-name>
        <servlet-class>hibernate.todolist.AddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add Controller</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Get All Cars Controller</servlet-name>
        <servlet-class>hibernate.carStoreAnnotation.controllers.GetAllCarsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Get All Cars Controller</servlet-name>
        <url-pattern>/getcars</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add Car Controller</servlet-name>
        <servlet-class>hibernate.carStoreAnnotation.controllers.AddCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add Car Controller</servlet-name>
        <url-pattern>/addcar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Find Car Controller</servlet-name>
        <servlet-class>hibernate.carStoreAnnotation.controllers.FindCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Find Car Controller</servlet-name>
        <url-pattern>/findcar</url-pattern>
    </servlet-mapping>



</web-app>
