<web-app>

    <servlet>
        <servlet-name>JspAddUser</servlet-name>
        <servlet-class>servlets.jsp.JspAddUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>JspDeleteUser</servlet-name>
        <servlet-class>servlets.jsp.JspDeleteUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>JspUpdateUser</servlet-name>
        <servlet-class>servlets.jsp.JspUpdateUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>User Controller</servlet-name>
        <servlet-class>servlets.UserController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>servlets.AddUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>servlets.DeleteUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>servlets.UpdateUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetUsers</servlet-name>
        <servlet-class>servlets.GetUsers</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MvcAddUser</servlet-name>
        <servlet-class>servlets.mvc_controllers.MvcAddUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MvcDeleteUser</servlet-name>
        <servlet-class>servlets.mvc_controllers.MvcDeleteUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MvcUpdateUser</servlet-name>
        <servlet-class>servlets.mvc_controllers.MvcUpdateUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>servlets.filters.SigninController</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>AdminRole</servlet-name>
        <servlet-class>servlets.filters.AdminRole</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserRole</servlet-name>
        <servlet-class>servlets.filters.UserRole</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>JsonController</servlet-name>
        <servlet-class>servlets.JsonController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JspAddUser</servlet-name>
        <url-pattern>/jspadd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JspDeleteUser</servlet-name>
        <url-pattern>/jspdelete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JspUpdateUser</servlet-name>
        <url-pattern>/jspupdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>User Controller</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MvcAddUser</servlet-name>
        <url-pattern>/mvcadd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MvcDeleteUser</servlet-name>
        <url-pattern>/mvcdelete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MvcUpdateUser</servlet-name>
        <url-pattern>/mvcupdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminRole</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserRole</servlet-name>
        <url-pattern>/userrole</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JsonController</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>

    <!--<filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>servlets.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>-->

    <servlet>
        <servlet-name>JsonUpdateController</servlet-name>
        <servlet-class>servlets.filters.JsonUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonUpdateController</servlet-name>
        <url-pattern>/update_json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JsonAddController</servlet-name>
        <servlet-class>servlets.filters.JsonAddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonAddController</servlet-name>
        <url-pattern>/add_json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChooseEssence</servlet-name>
        <servlet-class>servlets.test_task.controllers.ChooseEssence</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChooseEssence</servlet-name>
        <url-pattern>/choose</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChooseUserAction</servlet-name>
        <servlet-class>servlets.test_task.controllers.user.ChooseUserAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChooseUserAction</servlet-name>
        <url-pattern>/chooseUserAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>servlets.test_task.controllers.user.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>servlets.test_task.controllers.user.UpdateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUsers</servlet-name>
        <servlet-class>servlets.test_task.controllers.user.GetUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/getUsers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>servlets.test_task.controllers.user.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAssence</servlet-name>
        <servlet-class>servlets.test_task.controllers.user.GetAssence</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAssence</servlet-name>
        <url-pattern>/getAssence</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChooseRoleAction</servlet-name>
        <servlet-class>servlets.test_task.controllers.role.ChooseRoleAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChooseRoleAction</servlet-name>
        <url-pattern>/chooseRoleAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddRole</servlet-name>
        <servlet-class>servlets.test_task.controllers.role.AddRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRole</servlet-name>
        <url-pattern>/addRole</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateRole</servlet-name>
        <servlet-class>servlets.test_task.controllers.role.UpdateRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateRole</servlet-name>
        <url-pattern>/updateRole</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetRoles</servlet-name>
        <servlet-class>servlets.test_task.controllers.role.GetRoles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRoles</servlet-name>
        <url-pattern>/getRoles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteRole</servlet-name>
        <servlet-class>servlets.test_task.controllers.role.DeleteRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRole</servlet-name>
        <url-pattern>/deleteRole</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChooseAddressAction</servlet-name>
        <servlet-class>servlets.test_task.controllers.address.ChooseAddressAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChooseAddressAction</servlet-name>
        <url-pattern>/chooseAddressAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddAddress</servlet-name>
        <servlet-class>servlets.test_task.controllers.address.AddAddress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAddress</servlet-name>
        <url-pattern>/addAddress</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateAddress</servlet-name>
        <servlet-class>servlets.test_task.controllers.address.UpdateAddress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAddress</servlet-name>
        <url-pattern>/updateAddress</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAddresses</servlet-name>
        <servlet-class>servlets.test_task.controllers.address.GetAddresses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAddresses</servlet-name>
        <url-pattern>/getAddresses</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteAddress</servlet-name>
        <servlet-class>servlets.test_task.controllers.address.DeleteAddress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAddress</servlet-name>
        <url-pattern>/deleteAddress</url-pattern>
    </servlet-mapping>

</web-app>
